/* Created by: ZoiaB
* Created on: Apr 2023
* This CSS file defines the style for index.html
* Unit4-01-HTML-GuessMyNumber
*/

body {
  width: 80%;
  margin: 5% 10%;
  background-color: darkkhaki;
}

h1 {
  padding: 20px;
  background-color: #6e5353;
  text-align: center;
  color: #b1ad72
}

p {
  background-color: #6e5353;
  color: rgb(199, 204, 203);
}

form {
  text-align: center;
}

h3 {
  text-align: center;
  color: rgb(199, 204, 203);
}

div {
  background-color: #bc8f8f;
  color: rgb(199, 204, 203);
  text-align: center;
  padding: 10px;
}

img {
  padding-top: 10px;
}